body {
    margin: 0;
}
main {
    display: grid;
    grid-template: 150px 1fr / minmax(200px,15%) 5fr ;
    font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


#sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: aqua;
    display: grid;
    grid-template-rows: 100px 350px 200px;
    padding: 0px 0px 0px 10px;
    color: black;
    background-color: rgb(129, 196, 255);
    border-right: 3px solid black;
    position: fixed;
    height: 100%;
    width: max(200px, 15%);
    font-size: 16px;
}
    #logo {
        display: grid;
        grid-template-columns: 1fr 3fr;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: black;
        height: min-content;
        font-size: 20px;
        font-weight: 700;
    }
        #logo img {
            width: 70px;
        }
    .navigation-option {
        display: grid;
        grid-template-columns: 1fr 4fr;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: black;
    }
        .navigation-option:hover {
            text-decoration: underline;
        }
        .navigation-option img {
            width: 40px;
        }


#header {
    grid-area: 1 / 2 / 2 / 3;
    background-color: rgb(127, 255, 212);
    display: grid;
    grid-template: 1fr 2fr / 1fr minmax(300px, 30%);
    padding: 10px 20px 10px 20px;
    background-color: rgb(211, 234, 255);
    color: black;
}
    #header a {
        color: black;
    }
    #searchbar {
        display: grid;
        grid-template-columns: 30px 1fr;
        justify-content: center;
        align-items: center;
    }
        #searchbar input {
            width: 90%;
            height: 30px;
            border-radius: 20px;
            padding: 0px 10px 0px 10px;
        }
    #user {
        width: min-content;
        display: grid;
        grid-template-columns: 50px 50px 1fr;
        justify-self: center;
        align-self: center;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    #welcome {
        display: grid;
        grid-template-columns: 75px 1fr;
        grid-template-rows: 25px 50px;
        column-gap: 15px;
    }
        #welcome a {
          grid-area: 1 / 1 / 3 / 2;
        }
    #user-actions {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
        #user-actions a {
            height: 25px;
            width: 80px;
            border-radius: 20px;
            background-color: azure;
            text-align: center;
            padding-top: 5px;
        }
        #user-actions a:active {
            height: 60px;
        }


#main-content {
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgb(54, 161, 125);
    display: grid;
    grid-template: repeat(2, 1fr) / 3fr 1fr;
    padding: 10px 20px;
    gap: 20px;
    background-color: aliceblue;
    color: black;
}
    #projects {
        grid-area: 1 / 1 / 3 / 2;
    }
        #project-cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, 1fr);
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            gap: 20px;
        }
            .project-card {
                display: grid;
                grid-template-rows: 1fr 5fr 1fr;
                background-color: rgb(255, 220, 174);
                padding: 20px;
                border-radius: 10px;
                border-left: 5px solid rgb(129, 196, 255);
                box-shadow: 6px 5px rgba(92, 140, 183, 0.258);
            }
                .project-title {
                    font-weight: 700;
                }
                .project-buttons {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    align-self: flex-end;
                    justify-self: right;
                    gap: 15px;
                }
    #announcements {
        grid-area: 1 / 2 / 2 / 3;
        display: grid;
        grid-template-rows: max-content;
        
    }
        #announcements-card {
            background-color: antiquewhite;
            display: grid;
            grid-template-rows: repeat(auto-fit, 1fr);
            padding: 10px;
            border-radius: 10px;
        }
            .announcement {

            }
                .announcement-title {
                    font-weight: 700;
                }
                .announcement p {
                    margin: 0;
                }
    #trending {
        grid-area: 2 / 2 / 3 / 3;
        display: grid;
        grid-template-rows: max-content;
    }
        #trending-card {
            background-color: antiquewhite;
            display: grid;
            grid-template-rows: repeat(auto-fit, 1fr);
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 10px;
        }
            .trending-user {
                display: grid;
                grid-template: 25px 25px / 1fr 5fr;
                column-gap: 10px;
                justify-content: center;
                align-items: center;
            }
                .trending-user img {
                    grid-area: 1 / 1 / 3 / 2;
                }

a {
    text-decoration: none;
}

.divider {
    background-color: black;
    height: 1px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}